// // $accent-theme-color: #7a306c;
// // $accent-theme-color2: #8d909b;
// // $dark-theme-color: #101010;
// // $light-theme-color: #fff;

// // $portfolio-item-width: 25vw;
// // $portfolio-item-height: 25vw;

// // $portfolio-item-info-offset: 7px;

// // $portfolio-link-dimensions: 35px;
// // $portfolio-link-offset: 10px;
    
// // @mixin transition-mix(
// //   $property: all,
// //   $duration: 0.1s,
// //   $timing: linear,
// //   $delay: 0s
// // ) {
// //   transition-property: $property;
// //   transition-duration: $duration;
// //   transition-timing-function: $timing;
// //   transition-delay: $delay;
// // }
 
// // @mixin position-absolute($top: null, $left: null, $right: null, $bottom: null) {
// //   position: absolute;
// //   top: $top;
// //   left: $left;
// //   right: $right;
// //   bottom: $bottom;
// // }
 
// // @mixin img-position($max-width: 200%, $max-height: 200%) {
// //   position: relative;
// //   overflow: hidden;

// //   img {
// //     @include position-absolute($top: 50%, $left: 50%);

// //     width: auto;
// //     height: auto;
// //     min-width: 100%;
// //     min-height: 100%;
// //     max-width: $max-width;
// //     max-height: $max-height;
// //     transform: translate(-50%, -50%);
// //   }
// // }

// // .portfolio-effect {
// //   display: flex;
// //   justify-content: space-between;
// // }

// // .portfolio-item {
// //   @include img-position(); 
// //   width: $portfolio-item-width;
// //   height: $portfolio-item-height;
// // }

// // .portfolio-item__info {
// //   @include position-absolute(
// //     $top: $portfolio-item-info-offset,
// //     $left: $portfolio-item-info-offset
// //   );

// //   display: flex;
// //   flex-direction: column;
// //   align-items: center;
// //   justify-content: center;
// //   width: calc(100% - 2 * #{$portfolio-item-info-offset});
// //   height: calc(100% - 2 * #{$portfolio-item-info-offset});

// //   background-color: rgba(255, 255, 255, 0.7);
// // }

// // .portfolio-item__header {
// //   position: relative;

// //   margin: 0 0 20px 0;
// //   padding: 15px 0;

// //   font: {
// //     size: 22px;
// //   }
// //   text-transform: uppercase;
// //   letter-spacing: 2px;

// //   &:after {
// //     @include position-absolute($bottom: 0, $left: 0);

// //     display: block;
// //     height: 2px;
// //     width: 100%;

// //     content: "";

// //     background-color: $accent-theme-color2;
// //   }
// // }

// // .portfolio-item__links {
// //   display: flex;
// // }

// // .portfolio-item__link-block {
// //   position: relative;

// //   width: $portfolio-link-dimensions;
// //   height: $portfolio-link-dimensions;
// //   margin-right: $portfolio-link-offset;

// //   &:last-child {
// //     margin-right: 0;
// //   }
// // }

// // .portfolio-item__link {
// //   @include transition-mix;

// //   display: flex;
// //   align-items: center;
// //   justify-content: center;
// //   width: 100%;
// //   height: 100%;

// //   color: $dark-theme-color;
// //   text-decoration: none;

// //   border: 1px solid $dark-theme-color;
// //   border-radius: 50%;

// //   &:hover {
// //     color: $light-theme-color;

// //     background-color: $dark-theme-color;
// //   }
// // }

// // /* EFFECT #1 STYLES */
// // .portfolio-item--eff1 {
// //   .portfolio-item__info {
// //     transform: scale(1.1);
// //     opacity: 0;
// //   }

// //   .portfolio-item__header {
// //     top: -10px;
// //     opacity: 0;

// //     &:after {
// //       transform: scaleX(0);
// //     }
// //   }

// //   .portfolio-item__link-block {
// //     top: 20px;

// //     opacity: 0;
// //   }
// // }

// // .portfolio-item--eff1:hover {
// //   .portfolio-item__info {
// //     @include transition-mix($duration: 0.3s);

// //     transform: scale(1);
// //     opacity: 1;
// //   }

// //   .portfolio-item__header {
// //     @include transition-mix($delay: 0.35s);

// //     top: 0;
// //     opacity: 1;

// //     &:after {
// //       @include transition-mix(
// //         $duration: 0.3s,
// //         $timing: cubic-bezier(0.23, 0.01, 0, 0.79),
// //         $delay: 0.65s
// //       );

// //       transform: scaleX(1);
// //     }
// //   }

// //   .portfolio-item__link-block {
// //     top: 0;
// //     opacity: 1;

// //     &:first-child {
// //       @include transition-mix($delay: 0.75s);
// //     }

// //     &:nth-child(2) {
// //       @include transition-mix($delay: 0.85s);
// //     }
// //   }
// // }











// :root {
//   --offset: 1rem;
// }

// $offset: var(--offset);

// // $cols - number of column
// // n - number of items

// @mixin moveInGrid($cols, $n) {
//   $rows: ceil($n / $cols);
//   .grid {       
//     grid-template-columns: repeat($cols, 1fr);
//     grid-template-rows: repeat($rows, 100% / $rows);
//     li:last-child:after,
//     li:last-child:before {
//       left: 100% * (($cols - $n) % $cols);
//       transform: translate3d(-100% * (($cols - 1) / 2), -100% * (($rows - 1) / 2), 0);
//     }
//     @for $i from 1 through $n - 1 {
//       $x: ($cols - $i) % $cols;
//       $y: $rows - floor(($i - 1) / $cols) - 1;
//         li:nth-child(#{$i}):hover ~ li:last-child:after,
//       li:nth-child(#{$i}):hover ~ li:last-child:before {
//           transform: translate3d(-$x*100%, -$y*100%, 0);   
//         }
//     }
//     li:last-child:hover:after,
//     li:last-child:hover:before {
//       transform: translate3d(-100% * (($cols - $n) % $cols), 0%, 0);  
//     }
//   }
  
// }

// @mixin colors( $n, $colors ) {
//   @for $i from 1 through $n - 1 {
//     li:nth-child(#{$i}):hover ~ li:last-child:after {
//       @if (nth($colors, $i)) {
//         background: nth($colors, $i);
//       }       
//     }
//   }
//   li:last-child:hover:after {
//     background: nth($colors, -1);   
//   }
// }


// *, *:before, *:after {
//   box-sizing: border-box;
// }
// @media (min-width: 40em) {
//   body {
//     display: grid;
//     grid-template-columns: 1fr 3fr;
//   }
// }
// img,
// a {
//     display: block;
//   height: 100%;
// }
// img {
//   max-width: 100%;
//   width: 100%;
//   object-fit: cover;
// }
// .grid-view{
//   display: grid;
//   grid-gap: 0;
//   overflow: hidden;
//   list-style: none;
//   margin: 0;
//   padding: 0; 
//   li {
//     position: relative;
//   }
//   li:hover ~ li:last-child:after,
//   li:last-child:hover:after,
//   li:hover ~ li:last-child:before,
//   li:last-child:hover:before {
//     opacity: 1;
//     transition: 1s ease;
//   }
//   li:last-child:after,
//   li:last-child:before {
//     content: "";
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     top: 0;
//     pointer-events: none;
//     clip-path:polygon($offset $offset, $offset calc(100% - #{$offset}), calc(100% - #{$offset}) calc(100% - #{$offset}), calc(100% - #{$offset}) $offset);
//     -webkit-clip-path:polygon($offset $offset, $offset calc(100% - #{$offset}), calc(100% - #{$offset}) calc(100% - #{$offset}), calc(100% - #{$offset}) $offset);
//     opacity: 0;
//     transition: opacity 1s, transform 1s 1s, background 1s;
//   }
 
//   li:last-child:after {
//     mix-blend-mode: multiply;
//     // background: rgba(0, 0, 0, 0.8);
//   }
//   li:last-child:before {
//     backdrop-filter:  blur(1px);
//     -webkit-backdrop-filter: blur(1px);
//   }
//   //colors (optional)
// //   @include colors(8,[#1A237E, #b5a1b7, #aaafc3, #daa384, #A5D6A7, #6c4331, #555, #a88504]);
// }



// @include moveInGrid(3, 8);

// @media (max-width: 60em) {
//   @include moveInGrid(2, 8);
//   :root {
//     --offset: 0;
//   }
// }

// .description {
//     font-family: "Sura", sans-serif; 
//   position: absolute;
//   display: block;
//   right: 1rem;
//   left: 1rem;
//   text-align: center;
//   top: 50%;
// //   width: 120px;
//   margin: auto;
//   color: white;
//   z-index: 100;
//   opacity: 0;
//   transform: translate3d(0, -50%, 0);
//   transition: .3s 0s;
// }

// li:hover .description {
//   opacity: 1; 
//   transition: .6s .3s;
// }

// header  {
//   padding: 1rem;
//   font-family: "Courier New", monospace, serif;
//   font-size: 1em;
// }

// h1 {
//   margin-top: 0;
// }

// p {
//   line-height: 1.4;
// }
