*{
  box-sizing: border-box;
  margin: 0; 
}

html,body{
  overflow-x: hidden; 
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none; 
   -khtml-user-select: none; 
     -moz-user-select: none; 
      -ms-user-select: none;
          user-select: none; 
          
} 
/* width */
::-webkit-scrollbar {
  display: none;
}

/* Track */
::-webkit-scrollbar-track { 
  display: none;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  display: none;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  display: none;
}

.gallery-container{
  width: 100vw;
  min-width: 1000px; 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* height: 65vh;  */
  overflow: hidden; 
  /* box-shadow:         inset 0 0 5px rgba(0,0,0,0.75);  */
  /* box-shadow: 0 0 5px rgba(0,0,0,0.75);*/
  /* clip-path: inset(0 0px -5px 0);  */
}

.info-container{
  width: 60vw;
  flex: 1;
  min-height: 100%;
  min-width: 1000px; 
}

.gallery-view{
  height: 30vh; 
  width: 100%; 
  max-width: 60vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; 
  min-width: 1000px;
  /* background: hotpink; */
}
.gallery-col{
  height: 30vh; 
  width: 100%;  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; 
}

.info-view{
  min-width: 100vw; 
  overflow: hidden;
  max-width: 100vw;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
}
.gallery-footer-color{
  margin: 0 !important;
  padding: 0 !important; 
  /* position: absolute; */
  margin-right: 4px !important;
}

.grid-container, .list-container-ad{ 
  width: 100vw; 
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  overflow: hidden; 
}
.list-container-ad{
  display: flex;
  flex-direction: row;
}
.list-container{
  width: 100%;
}
.list-ad{
  width: 400px;
  min-height: 100%;
  padding-top: 5px;
  padding-left: 10px;
  /* background-color: red; */
} 

.list-view,.grid-top-stories{
  width: 60vw; 
  max-width: 100vw; 
  min-width: 1000px;  
  margin: 0; 
  padding: 0; 
}
.list-view{
  display: flex;
  flex-direction: row;
}
.grid-view{  
  width: 60vw; 
  grid-template-columns: auto auto auto; 
  /* padding: 10px; */
  min-width: 1000px;  
  display: grid;
  grid-gap: 0;
  /* overflow: hidden; */
  list-style: none;
  align-items: center;
  justify-content: center; 
  margin: 0; 
  padding: 0; 
  max-width: 100vw;
  z-index: 100;
  padding-top: 5px;
} 
 /* li{
   width: 330px;
   height: 450px;    
   margin: 5px; 
 } */
/* .grid-item{  
  align-self: center;
  overflow: hidden;    
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; 
  cursor: pointer; 
} */

.grid-item-img-view,.grid-item-desc-view{
  height: 50%;
  width: 100%; 
  display: flex;
  align-items: center;
  justify-content: center; 
} 
.grid-item-desc-view{ 
  padding-bottom: 20px; 
} 
.grid-item-img-view{
  height: 47.5%;  
}
.grid-item-desc{ 
  height: 100%;
  width: 100%;
  /* padding: 10px; */
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;  
  background-color: #fff;
  color: black; 
  display: none;
}
.grid-item{
  height: 100%;
  width: 100%; 
  min-height: 440px;
  /* padding: 10px; */
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;   
}
.grid-item p ,.grid-item-desc p{ 
  word-spacing: 1.1px;
  text-align: left;
  max-height: 100%;
  font-size: 1.5vh; 
}
.grid-item h2,.grid-item-desc h2{
  max-height: 100%;
  font-size: 2.7vh; 
}

.grid-item h3,.grid-item-desc h3{
  max-height: 100%;
  font-size: 2vh; 
} 

.grid-item-img{
  height: 100%;
  min-width: 100%;  
  max-width: 300px;
} 

.App{
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.gallery-header,.gallery-footer{
  /* height: 100px; */
  /* padding-top: 10px; */
  width: 60vw;
  min-width: 1000px; 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* position: absolute; */
  top: 0;
}

.gallery-footer{ 
  /* position: absolute; */
  /* top: 52vh;  */
}
.ui.fluid.dropdown{
  display: flex!important;
  flex-direction: row-reverse !important;
  align-items: center!important;
  justify-content: flex-end!important;
  width:  auto!important;
}
.ui.selection.dropdown{
  padding: .37857143em 0.7em!important;
}
/* .ui.search.dropdown.active>input.search, .ui.search.dropdown.visible>input.search{
  padding-left: 37px !important;
} */
input{
  cursor: default !important;
}
.search{
  padding-left: 37px !important;
}
.footer-btn{
  min-width: none !important;
  width: 200px !important;
  z-index: 0 !important;
  /* margin: 10px !important; */
}

h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child,h1, h2, h3, h4, h5{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
  margin: 0 !important;
} 
.footer-icon-form{
  margin: 5px;
}

.gallery-header-left, .gallery-footer-left{
  width: 50%;  
  display: flex;
  flex-direction: row;
  align-items: center;
  /* padding-top: 10px; */
  justify-content: flex-start;
}

.gallery-header-right, .gallery-footer-right{
  width: 50%; 
  display: flex;
  flex-direction: row;
  align-items: center;
  /* padding-top: 10px; */
  justify-content: flex-end;
}

.gallery-header-left-link,.gallery-footer-link{
  display: flex;
  flex-direction: row;
  align-items: center; 
  text-decoration: none; 
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}

.grid-footer-form{
  display: flex;
  flex-direction: row;
  align-items: center; 
  text-decoration: none; 
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* li a{
  text-decoration: none;  
  cursor: default;
  list-style: none; 
} */
/* ul,li{
  list-style: none;   
} */
h2,h3{
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

.gallery-footer-link{ 
  padding: 0;
  margin: 5px;  
  cursor: pointer;
} 
 p:first-child,p:last-child,p{
   margin-top: 0 !important;
   margin-bottom: 0 !important;
 } 
 
.footer{
  width: 60vw;
  height: 100%; 
  display: flex;
  flex-direction: row; 
  min-width: 1000px;  
}

@import url("https://fonts.googleapis.com/css2?family=Sura:wght@400;700&display=swap");

:root {
  --src: url(https://images.unsplash.com/photo-1554620121-59e7f3f6e3a4?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy);
  --size: 30vmin;
  --space: 8vmin;
  --duration: 300ms;
  --ease-out: cubic-bezier(0.25, 1, 0.5, 1);
  --bounce-out: cubic-bezier(0.34, 1.56, 0.64, 1);
}

* {
  box-sizing: border-box;
}

/* body {
  display: grid;
  place-items: center;
  grid-gap: var(--space);
  margin: 0 auto;
  padding: var(--space);
  font-family: "Sura", sans-serif;
  color: white;
  background-color: rgb(29, 30, 34);
} */

.promo {
  position: relative;
  cursor: pointer;
  width: var(--size);
  height: var(--size);
  --overlay-color: gray
}

.title {
  --font-size: calc(var(--size) / 8);

  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: var(--font-size);
  font-weight: 700;
  line-height: 1.2;
  white-space: nowrap;
  transform: translate(-10%, -50%);
  transition: transform var(--duration) var(--ease-out);
  pointer-events: none;
}

.title::after {
  content: attr(data-cta);
  display: inline-block;
  margin-left: 1.5vmin;
  font-size: calc(var(--font-size) / 3.25);
  font-weight: 400;
  letter-spacing: 0.125vmin;
  opacity: 0;
  transform: translateX(-25%);
  transition: transform var(--duration) var(--ease-out),
    opacity var(--duration) var(--ease-out);
}

.image-wrapper {
  width: var(--size);
  height: var(--size);
  overflow: hidden;
  clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 0 50%, 0% 0%);
  transition: transform var(--duration) var(--ease-out),
    clip-path var(--duration) var(--ease-out);
}

.image-wrapper img {
  position: relative;
  width: 120%;
  height: 100%;
  object-fit: cover;
  transform: translateX(-10%);
  transition: transform var(--duration) var(--ease-out);
}

.image-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-color);
  mix-blend-mode: multiply;
  opacity: 0;
  transform: translateZ(0);
  transition: opacity var(--duration) var(--ease-out);
}

.promo:hover img {
  transform: translateX(0);
}

.promo:hover .image-wrapper {
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
  transform: translateX(25%);
  transition-timing-function: var(--bounce-out);
}

.promo:hover .title {
  transform: translate(5%, -50%);
  transition-timing-function: var(--bounce-out);
}

.promo:hover .title::after {
  opacity: 1;
  transform: translateX(0);
  transition-timing-function: var(--bounce-out);
}

.promo:hover .image-wrapper::after {
  opacity: 1;
}

.slide-enter,
  .slide-exit {
    transition: transform 1500ms ease-out;
  }
  
.slide-enter {
    transform: translateX(100%);
}
  
.slide-enter.slide-enter-active {
    transform: translateX(0%);
}
  
.slide-exit {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: translateX(0%);
}
  
.slide-exit-active {
    transform: translateX(-100%);
} 
.baner{
  max-width: 300px; 
  padding-top: 5px;
  cursor: pointer;
}

.storie-img-view,.storie-info-view{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;  
}
.storie-img-view{
  align-items: center;
  justify-content: center;   
}
.storie-title{ 
  cursor: pointer;
  margin-bottom: 10px;
}
.storie-title-c{
  cursor: pointer;
  margin-bottom: 5px; 
} 
img{
  /* object-fit: contain; */
}
.storie-sub-title{ 
  margin-bottom: 10px;
} 
.storie-sub-title-c{ 
  margin-bottom: 5px; 
}
.storie-text{ 
  margin-bottom: 10px;
}
.storie-text-c{ 
  margin-bottom: 5px; 
}
.storie-title :first-child{  
  font-size: 3rem;
}
.storie-sub-title :first-child{ 
  font-size: 2rem;
}
.storie-title:hover, .storie-title-c:hover{
  text-decoration: underline;
}
.storie-img{
  max-width: 100%;
  height: 100%;
  cursor: pointer;
}

.readmore-btn{ 
  padding: 10px;
  cursor: pointer;
  border-radius: 20px;
  background: #1c708b;
  font-size: 12px;
}
.storie-child-text{
  width: 100%;
  height: 100%;
}
.readmore-btn:hover{
  background: #207f9e;
} 
.section-stories li{
  max-width: calc(60vw/4); 
  list-style: none;
}
.storie-child-title h2,.storie-child-title h1,.storie-child-title h3{
  cursor: pointer;
}
.storie-child-title{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.storie-child-title h2:hover,.storie-child-title h1:hover,.storie-child-title h3:hover{
  text-decoration: underline;
}
.storie-release-date{ 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.storie-release-date:first-child{
  color: #1c708b; 
  font-weight: bold;
  font-size: 14px;
}
.storie-release-date p:last-child{
  margin-left: 5px;
  color: #848f91;
  font-weight: bold;
  font-size: 12px;
}
.storie{ 
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.storie-child{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-left: 10px;
}
.storie-child-top,.storie-child-bottom{
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.grid-top-stories-main{
  height: 500px;
  width: 100%;
  /* width: 60vw;   */
  max-width: 100vw;
  display: flex; 
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center; 
  /* background: indigo; */
}

.list-stories{ 
  width: 100%;
  max-width: 100vw; 
  margin: 0;
  padding: 0;
}
.list-stories li{
  margin: 0;
  padding: 0;
  width: 100%;
  /* background: blue; */
  margin: 0;
  padding: 0; 
}

.list-item-0{
  /* width: 100%; */
  height: 400px;
  /* background: yellow; */
  margin: 0;
  padding: 0; 
  padding-top: 10px; 
  padding-left: 10px;
}
 
.list-item-1{
  width: 100%;
  height: 800px;
  /* background: greenyellow; */
  margin: 0;
  padding: 0;  
  display: flex;
  flex-direction: row;
  align-items: center;
} 
.list-item-1-left-row{ 
  width: 100%; 
  margin: 0;
  padding: 0;  
  display: flex;
  flex-direction: row;
}
.list-item-1-left{
  height: 100%;
  width: 400px;
  /* background-color: red; */
  margin: 0;
  padding: 0;  
}
.list-item-1-right{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;  
  /* background-color: honeydew; */
}

.list-item-1-right-t{
  height: 33.33%;
  width: 100%;
  margin: 0;
  padding: 0px;  
  padding-top: 10px;
  
  padding-left: 10px;
}

.list-item-1-left-t,.list-item-1-left-b{
  width: 100%;
  height: 50%;
} 
.section-stories{
  display: flex; 
  width: 100%;
  /* background-color: blue; */
  max-width: 100vw;
  flex-direction: row;
  align-items: center;
  justify-content: center; 
  margin: 0;
  padding: 0; 
}

.section-stories li{
  height: 300px;  
  /* background: green; */
  margin: 0;
  padding: 0; 
  flex-grow: 1;
}

.grid-cards-view{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  overflow: hidden;
  width: 60vw; 
  /* padding: 10px; */
}

.card-container{
  /* width: 60vw; */
  min-width: 1000px;
  max-width: 1000px;
  height: 100vh;
  overflow: hidden; 
} 
.expanded-card{    
  position: absolute; 
  width: 1000px;   
  height: 100vh; 
  overflow: hidden;
  /* margin-top: 20px;  */
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  left: 0;
  right: 0;
  /* top: 0; */
  /* bottom: 0; */
  text-align: center;
  /* top: 65vh;  */
  display: grid;
  place-items: center; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  overflow: hidden;  
  z-index: 100;
   
  /* box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75); */
}
.expanded-card-h{
  font-size: 27px;
  color:var(--fg);
  width: 300px;
  padding: 5px;
  place-self: end center;
}
.expanded-card p{
  width:300px;
  padding: 5px;
  place-self:  start center;
}

.normal-card{
  width: 100%;
  height: 100%; 
  display: grid; 
  place-items: end center ; 
  /* margin-top: 20px;  */
  /* box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75); */
  
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  */
  }
  .normal-card h1{
    font-size: 18px;
    color:var(--fg);
    padding: 5px;
    text-align: center;
  }

  #footer-grid{ 
    min-width: 1000px;
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .form-footer {
    display: flex;
    flex-direction: column;
    margin: 10 px;
    max-width: 90vw;
  }
  .footer-view{ 
    width: 100%;
    min-height: 100%; 
    max-width: 100vw;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
  }
  .ui.selection.active.dropdown .menu{
    max-height: 110px;
  }
  h2 {
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
.admin-login{
  max-width: 70vw;
  max-height: 70vh; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.admin-login-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.admin-dashboard{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  min-width: 70vw;
  min-height: 70vh; 
}
.ui.segment{
  background: transparent !important;
  position: unset !important;  
} 
.admin-tab-view{
  width: 70vw;
  height: 65vh; 
  background: #ececec;
  border: 1px solid #dbdbdb;
}
.add-article{
  cursor: pointer;
  padding: 5px;
}
.add-article:hover{
  color: #3b3b3b;
}
.articles-view{
  padding: 10px;
}
.articles-bar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
input[type="file"] {
  display: none;
}
.input-file{
  display: flex;
  flex-direction: row;
}
.articles-view-form{
  display: grid; 
  grid-template-columns: auto auto ; 
}
.tabs-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start; 

}
.advertisements-view{
  display: grid;
  grid-template-columns: auto auto auto auto; 
  margin-bottom: 50px;
}
.footer-articles-view{
  min-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; 
}
.articles-view-item{
  margin: 10px;
}
.articles-view-item p{
  font-weight: bold;
  font-size: 16px;
}
.articles-list-bar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;  
  width: 300px; 
}
@media only screen and (max-width: 1000px) {
  .gallery-col,.footer{
    display: none;
  } 
  .gallery-container,.info-container,.list-view, .grid-top-stories {
    min-width: 100vw;  
  }
  .grid-view,.grid{  
    min-width: 100vw; 
    grid-template-columns: auto auto ; 
  } 
  .card-container{
    margin-top: 0;
    width: 100vw;
    min-width: 90vw;
    max-width: 100vw; 
  }
  .expanded-card{
    width: 100vw;
    height: 100vh; 
  }
  #footer-grid{
    height: 100vh;  
    min-width: 100vw;
    max-width: 100vw;
  }
} 

@media only screen and (max-width: 670px) {
  .gallery-col,.footer{
    display: none;
  } 
  .grid-view,.grid{  
    min-width: 100vw; 
    grid-template-columns: auto ; 
  } 
  /* li{
    width: 90vw;
    height: auto;
  } */
  .card-container{
    margin-top: 0;
    width: 100vw;
    min-width: 90vw;
    max-width: 100vw; 
  }
  .expanded-card{
    width: 100vw;
    height: 100vh; 
  }
  #footer-grid{
    height: 100vh;  
  }
} 
@media only screen and (max-width: 470px) {
  .grid-footer-form{
    flex-direction: column;
  }
  .gallery-col,.footer{
    display: none;
  }
  .form-footer{
    width: 90vw;
  }
  .grid-footer-item{
    width: 87.5vw;
  }
}